version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - '8080:8080'
    environment:
      DB_HOST: ${DB_HOST} # MUST be localhost on Cloud Run
      DB_PORT: ${DB_PORT} # Use the internal MySQL port
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      MOODLE_URL_API: ${MOODLE_URL_API}
      MOODLE_API_TOKEN: ${MOODLE_API_TOKEN}
      NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED}
      DATABASE_URL: ${DATABASE_URL} # Optional, if you want to use a single connection string
